<?xml version="1.0" encoding="UTF-8"?>

<web-app
        version="3.0"
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <description>try to familiar with servlet</description>

    <display-name>Servlet hello world</display-name>

    <context-param>
        <param-name>cpn</param-name>
        <param-value>cpv</param-value>
    </context-param>
    <context-param>
        <param-name>cpn1</param-name>
        <param-value>cpv1</param-value>
    </context-param>
    <filter>
        <filter-name>filterTest</filter-name>
        <filter-class>com.wiloon.servlet.filter.LogFilter</filter-class>
    </filter>

    <filter>
        <filter-name>modifyResponse</filter-name>
        <filter-class>com.wiloon.servlet.filter.modifyresponse.UpperCaseFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>filterTest</filter-name>
        <servlet-name>HelloWorld</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>modifyResponse</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>com.wiloon.servlet.listener.TriggerContextListener</listener-class>
    </listener>

    <listener>
        <listener-class>com.wiloon.servlet.listener.TriggerContextAttributeListener</listener-class>
    </listener>
    <listener>
        <listener-class>com.wiloon.servlet.listener.TriggerHttpSessionListener</listener-class>
    </listener>
    <listener>
        <listener-class>com.wiloon.servlet.listener.TriggerHttpSessionAttributeListener</listener-class>
    </listener>
    <listener>
        <listener-class>com.wiloon.servlet.listener.TriggerHttpSessionActivationListener</listener-class>
    </listener>
    <listener>
        <listener-class>com.wiloon.servlet.listener.TriggerServletRequestListener</listener-class>
    </listener>
    <listener>
        <listener-class>com.wiloon.servlet.listener.TriggerServletRequestAttributeListener</listener-class>
    </listener>


    <servlet>
        <servlet-name>HelloWorld</servlet-name>
        <servlet-class>com.wiloon.servlet.HelloWorld</servlet-class>
        <init-param>
            <param-name>ipn</param-name>
            <param-value>ipv</param-value>
        </init-param>
        <init-param>
            <param-name>ipn1</param-name>
            <param-value>ipv1</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>HelloWorld</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>indexHtml.html</welcome-file>
    </welcome-file-list>

</web-app>